/* Write your CSS here */
.button {
  background-color: transparent;
  border-width: 0px;
  border-bottom-color: #dfe2e5;
  border-bottom-width: 2px;
  font-size: 18px;
  padding: 12px;
}
.item {
  cursor: pointer;
}
.btn {
  background-color: transparent;
  border-width: 0px;
  border-bottom-color: blue;
  border-bottom-width: 2px;
  font-size: 18px;
  padding: 12px;
}
